{% block links %}
{% load static %}

{% endblock %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/5d4cb69663.js" crossorigin="anonymous"></script>


<link rel="stylesheet" href="{% static 'home-page/style/style.css' %}">
<script src="{% static '/home-page/script_for_home/home.js' %}"></script>
<script src="{% static '/home-page/script_for_home/app.js'  %}"></script>


{% block content %}

{% endblock %}